<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>HowToBankLogin.com | Search Your Bank</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/main.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default" id="nav">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/"><img src="/img/icon-lock.png" height="45" width="45"/><h2 class="heading"> &nbsp;HowToBankLogin.com</h2></a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse hidden-xs" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#"> <i class="glyphicon glyphicon-home"></i> Home <span class="sr-only">(current)</span></a></li>
	      </ul>
	      
	      <ul class="nav navbar-nav navbar-right pull-right hidden-xs">
	        <li><a href="#">About Us</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid" id="scroll" style="min-height: 105vh;">
		<div class="row" style="margin-left:5%; margin-right:5%;">
			<div class="col-md-9"><h1 style="font-size: 20px;" class="primary-color">How To Bank Login</h1>
			<p>
				This is free Website / Tool , Our professional writers have gathered information on how you can login to a banks website for personal / corporate banking, Search below your banks name or browse the list and follow the link, Read our step by step guide.
				You have all kind of information starting from login guide to Android Apps / iOS apps etc.
			</p>
			</div>
			<div class="col-md-8 m-t" style="padding: 15px; border: 1px solid #eee;">
				<h2 style="font-size: 20px; margin-top: -5px;">
				Search Your Bank
				</h2>
				<input type="text" class="form-control" placeholder="Type to search" id="search"></input>
			</div>
		</div>
		<div class="row" style="margin-left:5%; margin-right:5%; margin-top: 30px;">
			<div class="col-md-8 " id="results" style="border: 1px solid #eee; padding: 10px;display: none;">
			</div>
		</div>
		<h2 style="font-size: 20px; margin-left:5%; margin-right:5%;">
			Browse Banks Alphabetically
		</h2>

	<div style="margin-left:5%; margin-right:5%;" id="banks" class="table-responsive">
		{%for key in banks_dict %}
		<a href="#{{key}}">{{key}}</a> &nbsp;&nbsp;
		{%endfor%}

		{%for key in banks_dict %}
		<hr>
		<table class="table table-striped table-bordered" id="{{key}}">
		<thead>

		 <tr><td>Bank Name Starting with {{key}}</td></tr>

		</thead>
		<tbody>
		{%for i in range(0,banks_dict[key] | length,4) %}
		<tr>
		<td>
		<a href="/{{banks_dict[key][i][1].replace(' ','-')}}-online-banking-login/{{banks_dict[key][i][0]}}/">{{banks_dict[key][i][1]}}</a>
		</td>
		{%if i+1 < banks_dict[key] | length %}
		<td>
		<a href="/{{banks_dict[key][i+1][1].replace(' ','-')}}-online-banking-login/{{banks_dict[key][i+1][0]}}/">{{banks_dict[key][i+1][1]}}</a>
		</td>
		{%else%}
		<td style="min-width:25%;"></td>
		{%endif%}
		{%if i+2 < banks_dict[key] | length %}
		<td>
		<a href="/{{banks_dict[key][i+2][1].replace(' ','-')}}-online-banking-login/{{banks_dict[key][i+2][0]}}/">{{banks_dict[key][i+2][1]}}</a>
		</td>
		{%else%}
		<td style="min-width:25%;"></td>
		{%endif%}
		{%if i+3 < banks_dict[key] | length %}
		<td>
		<a href="/{{banks_dict[key][i+3][1].replace(' ','-')}}-online-banking-login/{{banks_dict[key][i+3][0]}}/">{{banks_dict[key][i+3][1]}}</a>
		</td>
		{%else%}
		<td style="min-width:25%;"></td>
		{%endif%}
		</tr>
		{%endfor%}
		</tbody>
		</table>
		{%endfor%}
		<hr>
		{%for key in banks_dict %}
		<a href="#{{key}}">{{key}}</a> &nbsp;&nbsp;
		{%endfor%}
		<br>
		<br>
		</div>
	</div>
	<footer>
	<div class="row">
		<div class="col-md-5 ">Copyrights (c) 2016 <a href="/" class="primary-color">HowToBankLogin.com </a></div>
	</div>
</footer>

<script type="text/javascript">

$(document).scroll(function (event) {
var scroll = $(window).scrollTop();
if(scroll>=100){
	$('#nav').addClass('scroll navbar-fixed-top');
}else if(scroll==0){
	$('#nav').removeClass('scroll').removeClass('navbar-fixed-top');
}
});
$("#search").keyup(function(){
	if($(this).val().length==0){
		$("#results").hide();
		return;
	}else
	if($(this).val().length<3){
	$("#results").show();
	$(window).scrollTop(10);
	$('#results').html("<h3>Search Results</h3><p>Loading results, Keep typing...</p>");
	return;
	}
	$('#results').html("<h3>Search Results</h3>");
	 $("#banks a:contains('"+$(this).val()+"')").each( function( i, element ) {
      // var content = $(element).text();
      // content = content.replace( searchedText, '<span class="search-found">' + searchedText + '</span>' );
      $('#results').append( (i+1)+ '.  <a href="'+$(element).attr('href')+'">'+$(element).text()+"</a> <br>" );
 });
});
</script>
<!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ecd822b4e73b320"></script> 
 -->
</body>

